@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  min-height: 0.5px;
}

:root {
}

body {
}

.bg-hero {
  @apply h-[calc(100vh-65px)] bg-[url('../../public/images/home-image-bg.jpg')] bg-no-repeat bg-center bg-cover  w-screen relative;
}
.hero-left {
  left: calc(-50vw + 50%);
}

.margin-default {
  @apply mx-5 md:mx-20 lg:mx-32;
}

/* /--------------------------------------------------------------------------------------//
/                                       MASONRY                                        //
/* -------------------------------------------------------------------------------------- / */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 0px; /* gutter size offset */
  width: auto;
  gap: 10px;
}
.my-masonry-grid_column {
  padding-left: 0px; /* gutter size */
  background-clip: padding-box;
  margin-bottom: 10px;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 30px;
}
